body {
	background-color: #CFCFFF;
}

div.content {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron input.form-control {
	margin-bottom: 5px;
}